@{
    ViewData["Title"] = "Home Page";
}
<head>
<link href="~/css/index.css" rel="stylesheet" />
</head>



<div class="video-container">
    <video autoplay muted loop id="myVideo">
        <source src="@Url.Content("~/Backgrounds/videoBackground.mp4")" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>



    <div class="content">
        
        <div class="content-center">
           
            <h2>
                Добре Дошли
               
            </h2>
        </div>



    </div>


</div>